/* Use CSS variables to define common values */
:root {
  --primary-color: hsla(167, 68%, 73%, 1);
  --secondary-color: hsla(178, 59%, 48%, 1);
  --font-family-heading: 'Edu NSW ACT Foundation', cursive;
  --font-family-text: 'Roboto Slab', serif;
}

/* Define styles for the root element */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

/* Define styles for the logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Define keyframes for the logo spin animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Define styles for the card */
.card {
  padding: 1em;
}

/* Define styles for the "Read the Docs" text */
.read-the-docs {
  color: #888;
}

/* Define styles for the bot container */
#bot {
  margin-left: 70%;
  margin-top: -35%;
  backdrop-filter: blur(8px);
}

/* Define styles for the box bot */
.box_bot {
  border-radius: 20px;
  margin-right: 0%;
}

/* Define styles for the header */
#header{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 100.05vw;
  display: flex;
  height: 3.1rem;
  margin-left: -10.1%;
  margin-top: -10%;
  margin-bottom: 3rem;
  background-image: linear-gradient(to right, #051937, #004a70, #008099, #00b9a9, #79efa3);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8DE9D5", endColorstr="#32C4C0", GradientType=1 );
  font-weight: bold;
  font-size:x-large;
  /* font-family: 'Edu NSW ACT Foundation', cursive; */
/* font-family: 'Merriweather', serif; */
font-family: 'Roboto Slab', serif;
}
.header1{
  color: white;
  margin-right: 70%;
  /* padding-top: -3%; */
  margin-top: 0%;
}

/* Define styles for the navigation */
nav {
  display: flex;
  justify-content: center;
}
nav li {
  list-style-type: none;
  margin-right: 20px;
}
nav li:last-child {
  margin-right: 0;
}
nav a,
nav select {
  color: #fff;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  text-decoration: none;
}
nav select {
  background-color: #0d193e;
  border: none;
  border-radius: 10px;
  margin-top: 4.5px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  font-size: 16px;
  /* width: 80%; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}
nav select:hover {
  background-color: #063c50;
}
nav select option {
  background-color: #0b0f34;
  color: #fff;
  width: 80%;
  text-align: center;
}
nav select option:hover {
  background-color: #093241;
}
